body {
	font-family: 'Montserrat', Arial, sans-serif;
}
h1, h2, h3 {
	padding: 30px 0;
	font-size: 30px;
	color: white;
}
h3 {
	color: #555555;;
}
header,
main,
footer {
	padding: 40px 0;
} 
.menu,  
header {
	border: none;
	border-radius: 0;
}
.img-center {
	margin: 0 auto;
}

/*HEADER*/

.menu {
	margin: 0;
	padding: 20px 0;
	letter-spacing: 5px;
}
.menu ul a {
	font-size: 12px;
}
.menu ul a:hover,
.menu ul a:focus {
	color: #1abc9c !important;
}
header {
	background-color: #1abc9c;
}

/*MAIN*/

main {
	background-color: #474e5d;
}
main p {
	padding: 0 30px;
	font-size: 18px;
	color: white;
}
main a {
	margin: 0 auto;
}
section {
	padding-top: 70px;
	padding-bottom: 100px;
}
section p {
	padding: 20px 0; 
	font-size: 16px;
}
section img {
	width: 100%;
}

/*FOOTER*/

footer {
	color: white;
	background-color: #2f2f2f;
}